# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
dist/
.eslintcache

# Project Specific
.tmp/
*.pdf
*.csv

# Exclude Docs as requested
PRD.md
TRD.md
DRD.md
AGENT.md
finance-fullstack-pro/

# IDEs
.vscode/
.idea/
.gemini/

# Debug & Logs
push_log.txt
git_debug.txt
git_status.txt
git_debug.txt

# OS
.DS_Store
Thumbs.db
